.wrapper {
    display: grid;
    grid-template-rows: auto;
    margin: 0 auto;
}

nav li {
    list-style-type: none;
    background-color: lightgray;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 2rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgray;
    padding: 2rem;
    margin: 0;
}

footer {
    background-color: lightgray;
    display: grid;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}