.wrapper {
    display: grid;
    grid-template-rows: auto;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: #939C47;
}

a {
    text-decoration: none;
    color: black;
}

/* NAVIGATION BAR */
/* Note for drafting process: some selectors and properties are placeholders. */

.navbar {
    background-color: lightgray;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.75rem;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
}

nav li {
    list-style-type: none;
    display: inline-block;    
}

nav li a {
    color: black;
    font-weight: 550;
    margin-right: 6rem;
}

nav li a:hover {
    color: crimson;
}

/* MAIN CONTENT */

main {
    padding: 3.5rem;
}

/* PORTFOLIO PAGE */

.port_page {
    display: grid;
    /*grid-template-rows: 2fr 4fr 4fr 2fr;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr; */
}

.port_page h1{
    text-align: center;
}

/* Note: would like to make buttons change color when hovered over,
and maybe expand a little. */

.journalism {
    /*grid-row: 2/3;
    grid-column: 4/6; */
    padding: 3rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    border: 3px solid black;
    border-radius: 2rem;
    width: 30%;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.other_prof_samps {
   /* grid-row: 2/3;
    grid-column: 6/8; */
    padding: 3rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    border: 3px solid black;
    border-radius: 2rem;
    width: 30%;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.creative_writing {
   /* grid-row: 3/4;
    grid-column: 5/7; */
    padding: 3rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    border: 3px solid black;
    border-radius: 2rem;
    width: 30%;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: 500;
}

/* FOOTER */

footer {
    background-color: lightgray;
    padding: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: grid;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}