.wrapper {
    display: grid;
    grid-template-rows: auto;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: #939C47;
}

a {
    text-decoration: none;
    color: black;
}

/* NAVIGATION BAR */
/* Note for drafting process: some selectors and properties are placeholders. */

.navbar {
    background-color: lightgray;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.75rem;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
}

nav li {
    list-style-type: none;
    display: inline-block;    
}

nav li a {
    color: black;
    font-weight: 550;
    margin-right: 6rem;
}

nav li a:hover {
    color: crimson;
}

/* MAIN CONTENT */

main {
    padding: 3.5rem;
}

/* PORTFOLIO PAGE */

.port_page {
    display: grid;
    /*border: blue solid;*/
    place-items: center;
}

.port_page h1{
    text-align: center;
}

.port_page_buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-column-gap: 0.8rem;
}

button {
    width: 100%;
    display: block;
    padding: 3rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    border: 3px solid black;
    border-radius: 2rem;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

/* Note: would like to make buttons change color when hovered over,
and maybe expand a little. */

.journalism_button {
    place-self: stretch;
}

.other_prof_samps_button {
    place-self: stretch;
}

.creative_writing_button {
    place-self: stretch;
}

/* JOURNALISM */
/* Need to customize fonts */

.journalism_page {
    padding-left: 3rem;
}

h2 a:hover {
    color:#6D0124;
}

.journalism_page li{
    list-style-type: none;
    padding: 0.5rem;
}

.journalism_page a:hover {
    color: #6D0124;
}

/* CREATIVE WRITING */

.creative_writing_page {
    padding-left: 3rem;
}

.creative_writing_page li {
    list-style-type: none;
    padding: 0.5rem;
}

/* FOOTER */

footer {
    background-color: lightgray;
    padding: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: grid;
    align-content: center;
    justify-content: center;
}

.port_page_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}