.wrapper {
    display: grid;
    grid-template-rows: auto;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: #FFD5EF;
}

/*div {
    border: solid blue;
}

/* NAVIGATION BAR */

.navbar {
    background-color: black;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.75rem;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

header a {
    text-decoration: none;
    color: #A9D65C;
}

header a:hover {
    color:#FFD5EF;
}

.logo {
    font-family: "DM Serif Text", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
}

nav li {
    list-style-type: none;
    display: inline-block;   
}

nav li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    margin-right: 6rem;  
}

/* MAIN CONTENT */

main {
    padding: 3.5rem;
}

main a {
    text-decoration: none;
    color: black;
}

main a:hover {
    color: #6D0124;
}

img {
    display: block;
    border-radius: 2rem;
}

figcaption {
    font-family: 'Arial';
    font-size: 0.85rem;
}

/* HOMEPAGE */

.homepage {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.9fr;
}

.home_photo {
    display: grid;
    place-content: center;
    margin-left: auto;
}

.home_text {
    padding-top: 25%;
    padding-left: 3rem;
}

.home_text h2 {
    font-weight: 500;
}

/* ABOUT ME */

.about_me_page {
    display: grid;
}

.about_me_page h1 {
    place-self: center;
}

.about_me_page h2 {
    padding-left: 20rem;
    padding-right: 20rem;
}

.about_me_page p {
    padding-left: 20rem;
    padding-right: 20rem;
}

.about_me_photo {
    place-self: center;
}

.bottom_photo {
    padding-top: 1rem;
}

/* RESUME */

.resume_page {
    padding-left: 20rem;
    padding-right: 20rem;
}

.resume_page h1 {
    padding-bottom: 1rem;
}


/* PORTFOLIO PAGE */

.port_page {
    display: grid;
    place-items: center;
}

.port_page h1{
    text-align: center;
}

.port_page_buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-column-gap: 0.8rem;
}

button {
    width: 100%;
    display: block;
    padding: 3rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    border: 3px solid black;
    border-radius: 2rem;
    background-color: white;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

.journalism_button {
    place-self: stretch;
}

.other_prof_samps_button {
    place-self: stretch;
}

.creative_writing_button {
    place-self: stretch;
}

/* JOURNALISM */

.journalism_page {
    display: grid;
}

.journalism_page a {
    text-decoration: none;
    color: black;
}

.journalism_page h1 {
    place-self: center;
    display: block;
    padding: 1rem;
    margin: 0.5rem;
    border: 1.5px solid black;
    border-radius: 2rem;
}

.journalism_page h2 {
    padding-left: 10rem;
}

.journalism_list {
    padding-left: 9rem;
}

.journalism_page li{
    list-style-type: none;
    padding: 0.5rem;
}

/* OTHER PROFESSIONAL SAMPLES */

.other_profs_page {
    display: grid;
}

.other_profs_page a {
    text-decoration: none;
    color: black;
}

.other_profs_page h1 {
    place-self: center;
    display: block;
    padding: 1rem;
    margin: 0.5rem;
    border: 1.5px solid black;
    border-radius: 2rem;
}

.other_profs_page h2 {
    padding-left: 10rem;
}

.others_list {
    padding-left: 9rem;
}

.other_profs_page li {
    list-style-type: none;
    padding: 0.25rem;
}

/* CREATIVE WRITING */

.creative-writing_page {
    display: grid;
}

.creative_writing_page a {
    text-decoration: none; 
    color: black;

}

.creative_writing_page h1 {
    place-self: center;
    display: block;
    padding: 1rem;
    margin: 0.5rem;
    border: 1.5px solid black;
    border-radius: 2rem;
}

.creative_writing_page h2 {
    padding-left: 10rem;
}

.creative_writing_list {
    padding-left: 9rem;
}

.creative_writing_list li {
    list-style-type: none;
    padding: 0.5rem;
}

/* CONTACT */

.contact_page {
    display: grid;
    place-content: center;
    grid-template-rows: 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    padding-top: 10%;
}

.contact_invite {
    display: grid;
    place-content: center;
    margin-left: 15rem;
}

.contact_list {
    padding-top: 0.55rem;
    font-size: 0.9rem;
}

.contact_list a {
    color: #1D438A;
}

/* FOOTER 

footer {
    background-color: black;
    color:#FFD5EF;
    padding: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: grid;
    align-content: center;
    justify-content: center;
}

.wonky_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */